// Import Bulma's core
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors

$primary: #363636;
$primary-light: #00B9FF;
$purple: #3F2AA1;
$purple-dark: #1F1C39;
$purple-light: #5652E7;
$purple-gray: #4C4765;
$purple-gray: #35304E;
$tag-success: #dff6f7;
$tag-completed: #dbdffa;
$btn-color: #3827B3;
$btn-accent: #4836DE;
$btn-dark: #1D0F80;
$warning:#FFE32D;
$btn-w-color: #b32334;
$green-accent: #7DDBE5;
$pink-opacity: #fbe0ec;
$dark-light: #11446E;
$green-success: #14CC9E;



$btn-close: #FD5360;
$btn-close-hover: #FF707B;
$btn-close-press: #EF0012;

$btn-cancel: #959595;
$btn-cancel-hover: #C2C2C2;
$btn-cancel-press: #666666;

$btn-warning: $warning;
$btn-warning-hover: #FFEF84;
$btn-warning-press: #E2C400;

$grey-dark: #363636;
$grey: #363636;
$grey-light: #666666;

$container-max-widths: (
        md: 720px,
        lg: 960px,
        xl: 1260px
);

//Font Sizes

$xxl-font: 22px;
$xl-font: 20px;
$xmd-font: 18px;
$lg-font: 16px;
$md-font: 14px;
$sm-font: 13px;
$xs-font: 12px;

// Invert colors
$accent-invert: findColorInvert($btn-accent) !default;
$btn-color-invert: findColorInvert($btn-color) !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
        "white": ($white, $black),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($btn-dark, $dark-invert),
        "accent": ($btn-accent, $accent-invert),
        "purple": ($purple, $purple-invert),
        "btn-color": ($btn-color, $btn-color-invert),
        "primary": ($primary, $primary-invert),
        "primary-light": ($primary-light, $primary-invert),
        "info": ($info, $info-invert),
        "tag-success": ($tag-success, $success-invert),
        "tag-completed": ($tag-completed, $success-invert),
        "success": ($success, $success-invert),
        "green-success": ($green-success, $success-invert),
        "green-accent": ($green-accent, $success-invert),
        "pink-opacity": ($pink-opacity, $success-invert),
        "dark-light": ($dark-light, $success-invert),
        "warning": ($warning, $warning-invert),
        "danger": ($danger, $danger-invert),
);

// Links
$link: $primary-light;
$link-invert: $primary-invert;
$link-focus-border: $primary-light;

//CheckBox
$checkbox-background-color: #EAEAEA;
$checkbox-border-color: #ffffff;
$checkbox-active-background-color: #1D0F80;
$checkbox-border-color: #1D0F80;

//Inputs
$input-background-color: #FFFFFF;
$input-color: #363636;
$input-placeholder-color: #7B7B7B;
$input-focus-border-color: #7B7B7B;
$input-icon-color: #7B7B7B;
$input-icon-active-color: #363636;


//Menu
$border-left: #1D0F80;
$menu-item-color: #FFFFFF;
$menu-list-border-left: $border-left;
$menu-label-font-size: 15px;
$menu-nested-list-padding-left: 0;
$menu-nested-list-margin: 0;
$menu-label-letter-spacing: 0.3rem;
$menu-item-hover-background-color: rgba(255, 255, 255, 0);
$menu-item-hover-color: #FFFFFF;
$menu-item-active-background-color: #1D0F80;

//Table

$table-head-cell-color: #666666;

//Pagination
$pagination-border-color: rgba(255, 255, 255, 0);
$pagination-focus-border-color: rgba(255, 255, 255, 0);
$pagination-active-border-color: rgba(255, 255, 255, 0);
$pagination-current-background-color: #1D0F80;
$pagination-current-border-color: rgba(255, 255, 255, 0);

//Toast
$toast-border-radius: 1em;

//Select
$select-arrow-color: #363636;
$input-arrow: #363636;
$select-colors: #363636;

//DatePicker
$datepicker-item-selected-background-color: #1D0F80;


$dropdown-content-background-color: $scheme-main;
$dropdown-item-active-background-color: #3827B3;
$dropdown-item-active-color: $scheme-main;
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
